@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sora {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.bg-part-array-red {
  background: url('/images/backgrounds/part-array-red/640.jpg') no-repeat center center / cover;
}

.bg-thermal-spray-gun-yellow {
  background: url('/images/backgrounds/thermal-spray-gun-yellow/640.jpg') no-repeat center center / cover;
}

.bg-materials-blue {
  background: url('/images/backgrounds/materials-blue/640.jpg') no-repeat center center / cover;
}

.bg-community {
  background: url('/images/backgrounds/community/640.jpg') no-repeat center center / cover;
}

.bg-remtech-red {
  background: url('/images/backgrounds/remtech-red/640.jpg') no-repeat center center / cover;
}

.bg-measuing-blue {
  background: url('/images/backgrounds/measuring-blue/640.jpg') no-repeat center center / cover;
}

@media screen(sm) {
  .bg-part-array-red {
    background: url('/images/backgrounds/part-array-red/768.jpg') no-repeat center center / cover;
  }

  .bg-thermal-spray-gun-yellow {
    background: url('/images/backgrounds/thermal-spray-gun-yellow/768.jpg') no-repeat center center / cover;
  }

  .bg-materials-blue {
    background: url('/images/backgrounds/materials-blue/768.jpg') no-repeat center center / cover;
  }

  .bg-community {
    background: url('/images/backgrounds/community/768.jpg') no-repeat center center / cover;
  }

  .bg-remtech-red {
    background: url('/images/backgrounds/remtech-red/768.jpg') no-repeat center center / cover;
  }

  .bg-measuing-blue {
    background: url('/images/backgrounds/measuring-blue/768.jpg') no-repeat center center / cover;
  }
}

@media screen(md) {
  .bg-part-array-red {
    background: url('/images/backgrounds/part-array-red/1024.jpg') no-repeat center center / cover;
  }

  .bg-thermal-spray-gun-yellow {
    background: url('/images/backgrounds/thermal-spray-gun-yellow/1024.jpg') no-repeat center center / cover;
  }

  .bg-materials-blue {
    background: url('/images/backgrounds/materials-blue/1024.jpg') no-repeat center center / cover;
  }

  .bg-community {
    background: url('/images/backgrounds/community/1024.jpg') no-repeat center center / cover;
  }

  .bg-remtech-red {
    background: url('/images/backgrounds/remtech-red/1024.jpg') no-repeat center center / cover;
  }

  .bg-measuing-blue {
    background: url('/images/backgrounds/measuring-blue/1024.jpg') no-repeat center center / cover;
  }
}

@media screen(lg) {
  .bg-part-array-red {
    background: url('/images/backgrounds/part-array-red/1280.jpg') no-repeat center center / cover;
  }

  .bg-thermal-spray-gun-yellow {
    background: url('/images/backgrounds/thermal-spray-gun-yellow/1280.jpg') no-repeat center center / cover;
  }

  .bg-materials-blue {
    background: url('/images/backgrounds/materials-blue/1280.jpg') no-repeat center center / cover;
  }

  .bg-community {
    background: url('/images/backgrounds/community/1280.jpg') no-repeat center center / cover;
  }

  .bg-remtech-red {
    background: url('/images/backgrounds/remtech-red/1280.jpg') no-repeat center center / cover;
  }

  .bg-measuing-blue {
    background: url('/images/backgrounds/measuring-blue/1280.jpg') no-repeat center center / cover;
  }
}

@media screen(xl) {
  .bg-part-array-red {
    background: url('/images/backgrounds/part-array-red/1536.jpg') no-repeat center center / cover;
  }

  .bg-thermal-spray-gun-yellow {
    background: url('/images/backgrounds/thermal-spray-gun-yellow/1536.jpg') no-repeat center center / cover;
  }

  .bg-materials-blue {
    background: url('/images/backgrounds/materials-blue/1536.jpg') no-repeat center center / cover;
  }

  .bg-community {
    background: url('/images/backgrounds/community/1536.jpg') no-repeat center center / cover;
  }

  .bg-remtech-red {
    background: url('/images/backgrounds/remtech-red/1536.jpg') no-repeat center center / cover;
  }

  .bg-measuing-blue {
    background: url('/images/backgrounds/measuring-blue/1536.jpg') no-repeat center center / cover;
  }
}

@media screen(2xl) {
  .bg-part-array-red {
    background: url('/images/backgrounds/part-array-red/1920.jpg') no-repeat center center / cover;
  }

  .bg-thermal-spray-gun-yellow {
    background: url('/images/backgrounds/thermal-spray-gun-yellow/1920.jpg') no-repeat center center / cover;
  }

  .bg-materials-blue {
    background: url('/images/backgrounds/materials-blue/1920.jpg') no-repeat center center / cover;
  }

  .bg-community {
    background: url('/images/backgrounds/community/1920.jpg') no-repeat center center / cover;
  }

  .bg-remtech-red {
    background: url('/images/backgrounds/remtech-red/1920.jpg') no-repeat center center / cover;
  }

  .bg-measuing-blue {
    background: url('/images/backgrounds/measuring-blue/1920.jpg') no-repeat center center / cover;
  }
}

@media screen(sm) {
  .bg-drawing-1 {
    background: url('/images/vector-drawings/drawing-1.svg') no-repeat -330% 100% / 120%;
  }

  .bg-drawing-2 {
    background: url('/images/vector-drawings/drawing-2.svg') no-repeat -330% 100% / 120%;
  }

  .bg-drawing-3 {
    background: url('/images/vector-drawings/drawing-3.svg') no-repeat 120% 50% / 200%;
  }

  .bg-drawing-4 {
    background: url('/images/vector-drawings/drawing-4.svg') no-repeat -60% 50% / 200%;
    @apply bg-red-700;
  }

  .bg-drawing-5 {
    background: url('/images/vector-drawings/drawing-5.svg') no-repeat -160% 140% / 120%;
  }
}

@media screen(md) {
  .bg-drawing-1, .bg-drawing-2 {
    background-position: 260% 100%;
    background-size: 70%;
  }

  .bg-drawing-3 {
    background-position: 350% 50%;
    background-size: 120%;
  }

  .bg-drawing-4 {
    background-position: -140% 50%;
    background-size: 150%;
  }

  .bg-drawing-5 {
    background-position: 160% 140%;
    background-size: 70%;
  }
}

.border-color-unset {
  border-color: unset;
}

.form-red .form-bg {
  @apply bg-red-800;
}

.form-yellow .form-bg {
  @apply bg-yellow-400;
}

.form-blue .form-bg {
  @apply bg-blue-950;
}

.form-gray .form-bg {
  @apply bg-gray-200;
}

.bullet-list li {
  @apply relative pl-4;
}

.bullet-list li::before {
  @apply w-1 h-1 rounded bg-gray-950 absolute -translate-y-1/2 left-0;
  top: .7em;
  content: '';
}

.page-break-after {
  page-break-after: always;
}
